<mat-toolbar color="accent">
  <span>Aktivitäten</span>
  <mat-icon id="add-icon" class="material-icons-round">add_circle</mat-icon>

  <div class="search">
    <mat-icon class="search-icon">search</mat-icon>Suche:
    <mat-form-field class="search-input1">
     <input  matInput placeholder="nach Kurzname, Vor- und Nachnamen" #input1>
    </mat-form-field>

    <mat-form-field class="search-input2">
      <input  matInput placeholder="nach Jahr" #input2>
    </mat-form-field>
  </div>

  <div class="toolbar-right">
    <button mat-button (click)="onHelp()" class="help-button">
      <mat-icon>help</mat-icon>
   </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="secondaryNav('act-columns')">Spalten ändern...</button>
  <button mat-menu-item (click)="secondaryNav('close')">Sidebar schließen</button>
</mat-menu>
