<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">

 <!--<fieldset formAGroupName ="base"> -->
    <p>
      <mat-form-field class="full-width">
        <mat-label>Anrede</mat-label>
        <input matInput formControlName="gender">
        <mat-error *ngIf="myForm.get('gender').hasError('required')">
          Anrede erforderlich
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Titel</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstname">
        <mat-error *ngIf="myForm.get('firstname').hasError('required')">
          Vorname ist erforderlich!
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="familyname">
        <mat-error *ngIf="myForm.get('familyname').hasError('required')">
          Nachname ist erforderlich!
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Straße</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>PLZ</mat-label>
        <input matInput formControlName="zipcode">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Ort</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
    </p>
 <!--</fieldset>-->
<!--
  <fieldset formAGroupName ="honour">

    <mat-form-field class="full-width">
      <mat-label>Bronze</mat-label>
      <input matInput formControlName="bronze">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Silber</mat-label>
      <input matInput formControlName="silver">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Gold</mat-label>
      <input matInput formControlName="gold">
    </mat-form-field>

  </fieldset>
    -->
  <button mat-raised-button type="submit" color="warn" class="apply-button">Übernehmen</button>
</form>
