<div *ngIf="member; else loading">
  <h1>{{ member.Familyname }}, {{ member.Firstname }}</h1>
  <h3 *ngIf="member.Firstname">{{ member.Firstname }}</h3>
  <div class="ui divider"></div>
  <div class="ui grid">

    <div class="four wide column">
      <h4>
        Straße
      </h4>
      {{ member.Street }}
    </div>
    <div class="four wide column">
      <h4>
        Eintrittskdatun
      </h4>
      {{ member.Entryday | date:'longDate' }}
    </div>
    <div class="four wide column">
      <h4>
        Rating
      </h4>
    </div>
  </div>
  <h4>
    Beschreibung
  </h4>
  <p>{{ member.Street }}</p>
  <button class="ui tiny red labeled icon button"
          (click)="removeMember()">
    <i class="remove icon"></i>
    <ng-container>
      Mitglied löschen
    </ng-container>
  </button>
  <a class="ui tiny yellow labeled icon button"></a>
   <!---[routerLink]="['../../admin/edit', member.Id]"> -->
    <i class="write icon"></i>
    <ng-container>
      Mitglied bearbeiten
    </ng-container>
</div>

<ng-template #loading>
  <div class="ui active centered inline loader"></div>
</ng-template>
