<form [formGroup]="myForm">
<mat-tab-group>

  <mat-tab label="Allgemein">
    <div class="modul">
      <p>
        <cl-theme-switch></cl-theme-switch>
        <mat-label class="label">Programm Farbschema festlegen</mat-label>
      </p>
    </div>
  </mat-tab>

  <mat-tab label="Mitglieder">
    <div class="modul">
      <p>
        <button mat-raised-button type="submit" (click)="onCreateAlias()" color="primary" class="button">Ausführen</button>
        <mat-label class="label">Alle Kurznamen neu erzeugen</mat-label>
      </p>

      <p>
        <button mat-raised-button type="submit" (click)="onCreateFamily()" color="primary" class="button">Ausführen</button>
        <mat-label class="label">Alle Familien Abhängigkeiten neu erzeugen</mat-label>
      </p>

      <p>
        <button mat-raised-button type="submit" (click)="onDetermineActiveYears()" color="primary" class="button">Ausführen</button>
        <mat-label class="label">Alle Aktivenjahre und Goldene Löwe Punkte neu berechnen</mat-label>
      </p>

      <p>
        <button mat-raised-button type="submit" (click)="onDetermineActiveState()" color="primary" class="button">Ausführen</button>
        <mat-label class="label">Aktiven-Status für alle Mitglieder neu berechnen</mat-label>

        <mat-form-field class="column2-field-short">
          <mat-label>Jahr</mat-label>
          <input matInput formControlName="year">
            <mat-error *ngIf="myForm.get('year').hasError('pattern')">
              Es sind nur Ziffern zulässig
            </mat-error>
            <mat-error *ngIf="myForm.get('year').hasError('min')">
              Die Jahreszahl muss größer 1955 sein
            </mat-error>
            <mat-error *ngIf="myForm.get('year').hasError('max')">
              Die Jahreszahl darf nicht größer {{currentYear}} sein
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-checkbox formControlName="storage" color="primary" class="button" (click)="onStorage()">Mitglieder Ablage anzeigen anstatt Mitgliederliste</mat-checkbox>
        </p>

    </div>
  </mat-tab>

</mat-tab-group>
</form>
