#partner-content {
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 4px;
}

.parent-label {
  margin-top: 8px;
}

.parent-list {
  padding: 0px !important;
  margin-top: -19px;
}

.parent-item {
  height: 18px !important;
  margin-left: 60px;
}
