<mat-toolbar color="accent">
  <span>{{ title }}</span>
  <mat-icon *ngIf="memberList" id="add-icon" class="material-icons-round" (click)="headerNav('mem-create')">person_add</mat-icon>

  <div class="search-icon">
    <mat-icon>search</mat-icon>
    <span>Suche:</span>
  </div>
  <mat-form-field class="search-input">
    <input class="search-text" matInput placeholder="Vor- o. Nachname, Kurzname" #input>
  </mat-form-field>

  <span class="filter">
    <mat-icon class="search-icon">filter_alt</mat-icon>
    <span>Filter:</span>
    <span class="filter-text">{{filterName}}</span>
  </span>

  <div class="toolbar-right">
    <button mat-button (click)="onHelp()" class="help-button">
      <mat-icon>help</mat-icon>
   </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="secondaryNav('mem-columns')">Spalten ändern...</button>
  <button mat-menu-item (click)="secondaryNav('mem-filter')">Filter anwenden...</button>
  <button mat-menu-item (click)="secondaryNav('close')">Sidebar schließen</button>
</mat-menu>
