<mat-toolbar color="accent">
  <span>{{ title }}</span>
  <mat-icon *ngIf="memberList" id="add-icon" class="material-icons-round" (click)="headerNav('mem-create')">person_add</mat-icon>
  <div class="search">
    <mat-icon class="search-icon">search</mat-icon>Filter:
    <mat-form-field class="search-input">
    <input  matInput placeholder="nach Vor- und Nachnamen, Kurzname" #input>
  </mat-form-field>
  </div>

  <div class="toolbar-right">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="secondaryNav('mem-columns')">Spalten ändern...</button>
  <button mat-menu-item (click)="secondaryNav('mem-groups')">Gruppen zuweisen...</button>
  <button mat-menu-item (click)="secondaryNav('close')">Sidebar schließen</button>
</mat-menu>
