@import '../../_shared/variables.sass';

.table-container {
  max-width: 100%;
  height: $base-workspace;

}

.header-row {
  min-height: 35px;
  height: 35px;
  font-family: 'Arial Black', Helvetica, sans-serif;
  z-index: 50;
}

.table-row {
  min-height: 40px;
  height: 40px;
}

.pag-base {
  position: fixed;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  // color: var(--primary);
}

.cdk-drag-preview  {
  color: var(--primary);
  display: flex;
  border: white;
}

// Progressbar
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.spinner-text {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 44%;
}

// Spaltenbreiten
.mat-column-Familyname {
  padding-left: 20px;
  padding-right: 20px;
  //width : 320px;
}
.mat-column-Firstname {
  width : 320px;
}
.mat-column-Street {
  width : 320px;
}
.mat-column-Zipcode {
  padding-left: 20px;
  padding-right: 20px;
  //width : 100px;
}
.mat-column-City {
  width : 300px;
}
