<ng-container class="pag-base">
  <mat-paginator  [length]="pageTotalCount" [pageSize]="pageCount" [pageSizeOptions]="[5, 10, 25, 50, 100]">
  </mat-paginator>
</ng-container>

<table mat-table class="table-container" [dataSource]="members$" matSort (matSortChange)="sortData($event)"
  cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropListDropped($event)">

  <ng-container [matColumnDef]="col.Name" *ngFor="let col of displayedColumns; let i = index" >
    <th mat-header-cell mat-sort-header *matHeaderCellDef
        cdkDrag (cdkDragStarted)="dragStarted($event)" [cdkDragData]="{name: col.Name}">
        {{col.Label}}
    </th>
    <button mat-icon-button>
      <mat-icon> More Vert</mat-icon>
    </button>
    <td mat-cell [class]="col.Width" *matCellDef="let member">{{member[col.Name]}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnNames; sticky:true" class="header-row"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnNames" class="table-row"></tr>

</table>


<div class="spinner-text" *ngIf="loading async">Daten werden geladen</div>
<div class="spinner-container" *ngIf="loading async">
  <mat-spinner value="100" mode="determinate" diameter="40"></mat-spinner>
</div>
