@import '../../_shared/variables.sass';

.mat-toolbar {
  height: 40px;
}

.close-button {
  margin-left: auto;
  margin-right: 0px;
}

.close-button:hover {
  background-color: var(--primary);
}

.filter {
  margin-top: 10px;
  font-size: 1rem;
  display: flex;
}

.filter-icon {
  padding-top: 0px;
}

.filter-text {
  font-family:"Arial Narrow", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}

.filter-desc-distance {
  margin-top: -5px;
}

.filter-desc {
  font-family:"Arial Narrow", Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 35px;
}

.icon:hover {
  background-color: var(--primary);
}

.selected-line {
  color: #ffff;
  background-color: var(--primary);
}
