@import '../node_modules/@angular/material/theming';
@include mat-core();

.light-theme {
  $primary: (
    Main:#CC332A,
    Light:#ff6754,
    Dark: #930000,
    contrast: (
     Main: #f5f5f5,
     Light: #fff,
     Dark: #000
    ));
  $custom-theme-primary: mat-palette($primary, Main, Light, Dark);
  $custom-theme-accent: mat-palette($mat-grey, A200, A100, A400);
  $custom-theme-warn: mat-palette($mat-red);

  $custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
  @include angular-material-theme($custom-theme);

  $primary: mat-color($custom-theme-primary);
  $accent: mat-color($custom-theme-accent);
  $warn: mat-color($custom-theme-warn);
  $fg_palette:map-get( $custom-theme, foreground);
  $bg_palette:map-get( $custom-theme, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$primary};
  --fg: #{$fg};
  --bg: #{$bg};
}

.dark-theme {
 $primary: (
  Main:#CC332A,
  Light:#ff6754,
  Dark: #930000,
  contrast: (
   Main: #f5f5f5,
   Light: #000,
   Dark: #fff
  ));
 $accent:
 (
 Main: #c48f4a,
 Light: #ffc246,
 Dark: #c56200,
 contrast: (
   Main: #fff,
   Light: #fff,
   Dark: #fff
  ));
 $warn: $mat-red;

 $custom-theme2-primary: mat-palette($primary, Main, Light, Dark);
 $custom-theme2-accent: mat-palette($accent, Main, Light, Dark);
 $custom-theme2-warn: mat-palette($warn, A200, A400, A700);

  $custom-theme2: mat-dark-theme($custom-theme2-primary, $custom-theme2-accent, $custom-theme2-warn);
  @include angular-material-theme($custom-theme2);

  $primary: mat-color($custom-theme2-primary);
  $accent: mat-color($custom-theme2-accent);
  $warn: mat-color($custom-theme2-warn);
  $fg_palette:map-get( $custom-theme2, foreground);
  $bg_palette:map-get( $custom-theme2, background);
  $fg:map-get($fg_palette, text);
  $bg:map-get($bg_palette, background);

  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{ $warn};
  --fg: #{$fg};
  --bg: #{$bg};
}

@mixin angular-material-theme($theme) {
  @include mat-core-theme($theme);
  @include mat-autocomplete-theme($theme);
  @include mat-button-theme($theme);
  @include mat-button-toggle-theme($theme);
  @include mat-card-theme($theme);
  @include mat-checkbox-theme($theme);
  @include mat-chips-theme($theme);
  @include mat-datepicker-theme($theme);
  @include mat-dialog-theme($theme);
  @include mat-grid-list-theme($theme);
  @include mat-icon-theme($theme);
  @include mat-input-theme($theme);
  @include mat-list-theme($theme);
  @include mat-menu-theme($theme);
  @include mat-progress-bar-theme($theme);
  @include mat-progress-spinner-theme($theme);
  @include mat-radio-theme($theme);
  @include mat-select-theme($theme);
  @include mat-sidenav-theme($theme);
  @include mat-slide-toggle-theme($theme);
  @include mat-slider-theme($theme);
  @include mat-tabs-theme($theme);
  @include mat-toolbar-theme($theme);
  @include mat-tooltip-theme($theme);
  @include mat-button-toggle-theme($theme);
}

