.sidebar-base {
  margin-top:5px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.apply-button {
  align-items: center;
}

.mat-list-option {
  height: 30px !important;
  line-height: 30px !important;
  }

.mat-pseudo-checkbox:after {
    color: #b11f1f !important;
}
