.sidebar-base {
  margin-top:5px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.mat-list-option {
  height: 30px !important;
  line-height: 30px !important;
  }

.mat-toolbar {
  height: 40px;
}

.close-button {
  position: absolute;
  right: 0px;
}

.apply-button {
  position: absolute;
  margin-top: 10px;
  right: 10px;
}
