<mat-toolbar color="Snow">
  <span>Mitglieder auswählen</span>
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>
      close
      </mat-icon>
    </button>
</mat-toolbar>
<div class="search">
  <mat-icon class="search-icon">search</mat-icon>
  <mat-form-field class="search-input">
    <input  matInput placeholder="nach Vor- und Nachnamen, Kurzname" #input>
  </mat-form-field>
</div>

<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
  <button mat-raised-button type="submit" color="primary" class="apply-button">Übernehmen</button>
  <mat-divider></mat-divider>

  <mat-selection-list color="primary" formControlName="selectedFields" >
    <mat-list-option checkboxPosition="before" *ngFor="let mem of memberList"
        [selected]=false
        [value]="mem">
         {{mem.Firstname}} {{mem.Familyname}} ({{mem.Alias}})
      </mat-list-option>
  </mat-selection-list>
</form>
