<!-- Toolbar -->
<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon *ngIf="!isShowing">
        menu
    </mat-icon>
    <mat-icon *ngIf="isShowing">
        close
    </mat-icon>
  </button>
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon *ngIf="isExpanded">
        keyboard_backspace
    </mat-icon>
    <mat-icon *ngIf="!isExpanded">
        trending_flat
    </mat-icon>
  </button>

  <span>
    <button mat-button routerLink="/">{{title}}</button>
  </span>

  <div class="right">
    <button mat-button routerLink="login" routerLinkActive="active" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <span class="toolbartext">
      V 0.1
    </span>
    <button mat-button routerLink="settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menu (links) -->
<mat-sidenav-container>
  <mat-sidenav class="{{menuSize}}" #sidenav="matSidenav" mode="side" [opened]="isShowing" role="navigation">
    <button mat-button (click)="firstNav('dashboard')" class="{{menuButton}}">
      <mat-icon>home</mat-icon>
      <span class="menuText" *ngIf="isExpanded">Übersicht</span>
    </button>
    <button mat-button (click)="firstNav('members')" class="{{menuButton}}">
        <mat-icon>person</mat-icon>
        <span class="menuText" *ngIf="isExpanded">Mitglieder</span>
    </button>
    <button mat-button (click)="firstNav('groups')" class="{{menuButton}}">
      <mat-icon>people</mat-icon>
      <span class="menuText" *ngIf="isExpanded">Gruppen</span>
    </button>
    <button mat-button (click)="firstNav('activities')" class="{{menuButton}}">
      <mat-icon>mood</mat-icon>
      <span class="menuText" *ngIf="isExpanded">Aktivitäten</span>
    </button>
    <button mat-button (click)="firstNav('works')" class="{{menuButton}}">
      <mat-icon>work</mat-icon>
      <span class="menuText" *ngIf="isExpanded">Arbeitsplan</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button (click)="firstNav('reports')" class="{{menuButton}}">
      <mat-icon>description</mat-icon>
      <span  class="menuText" *ngIf="isExpanded">Reports</span>
    </button>
    <button mat-button (click)="firstNav('statistic')" class="{{menuButton}}">
        <mat-icon>show_chart</mat-icon>
        <span class="menuText" *ngIf="isExpanded">Statistik</span>
    </button>
  </mat-sidenav>

 <!-- Bereich Kopfzeile ausgeben -->
<ng-container class="header" [ngSwitch]="area">
    <span *ngSwitchCase="0">
      <div class="header">
        <cl-dashboard-header></cl-dashboard-header>
      </div>
    </span>
  <span *ngSwitchCase="1">
    <div class="header">
      <cl-member-header></cl-member-header>
    </div>
  </span>
  <span *ngSwitchCase="2">
    <div class="header">
      <cl-group-header></cl-group-header>
    </div>
  </span>
  <span *ngSwitchCase="3">
    <div class="header">
      <cl-activity-header></cl-activity-header>
    </div>
  </span>
  <span *ngSwitchCase="4">
    <div class="header">
      <cl-work-header></cl-work-header>
    </div>
  </span>
  <span *ngSwitchCase="5">
    <div class="header">
      <cl-report-header></cl-report-header>
    </div>
  </span>
  <span *ngSwitchCase="6">
    <div class="header">
      <cl-statistic-header></cl-statistic-header>
    </div>
  </span>
</ng-container>

<!-- Arbeitsbereich -->
<ng-container>
  <as-split direction="horizontal" class="split-base">
    <as-split-area  [size]="75" class="workspace">
      <router-outlet></router-outlet>
    </as-split-area >
    <as-split-area [size]="25" class="workspace_sec">
      <router-outlet name="sidebar"></router-outlet>
    </as-split-area>
  </as-split>
</ng-container>
</mat-sidenav-container>

<!-- Fußzeile -->
<ng-container >
  <div class="footer">

  </div>
</ng-container>

