

mat-sidenav {
  width: 130px;
}

.workspace {
  margin-left: 20px;
  // color: var(--primary);
  min-height: 700px;
}

.toolbartext {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
}

.right {
  position: absolute;
  right: 0px;
}


