
.minMenu {
  text-align-last: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 45px;
}

.maxMenu {
  text-align-last: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 130px;
}

.workspace {
  margin-left: 20px;
  // color: var(--primary);
  min-height: 700px;
}

.toolbartext {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.right {
  position: absolute;
  right: 0px;
}


