<mat-toolbar class="toolbar-sub" color="accent">
  <span>Mitglieder</span>
  <mat-icon class="search-icon1">person_add_alt_1</mat-icon>
  <div class="search">
    <mat-icon class="search-icon">search</mat-icon>Filter:
    <mat-form-field class="search-input">
    <input  matInput placeholder="nach Vor- und Nachnamen ..." #input>
  </mat-form-field>
  </div>

  <div class="toolbar-right">
    <button mat-button routerLink="settings">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Workspace -->
<div style="background: yellow;" class="member-table">
  <as-split direction="horizontal">
    <as-split-area [size]="75">
      <cl-member-table  [filter]="search" >
      </cl-member-table>
    </as-split-area>
    <as-split-area [size]="25">
      RIGHT
    </as-split-area>
  </as-split>
</div>

