// Toolbar
.toolbar-sub {
  position: fixed;
  margin-top: -5px;
  min-height: 40px !important;
  height: 40px !important;
}

.toolbar-right {
  position: fixed;
  right: 0px;
}

.search {
  margin-top: 11px;
  margin-left: 100px;
  font-size: 12pt;
}

.search-icon {
  margin-left: 50px;
  font-size: 12pt;
}

.search-icon1 {
  margin-left: 20px;
}

.search-input {
  margin-left: 5px;
  font-size:8pt;
}
