<mat-toolbar class="toolbar-sub" color="accent">
  <span>Mitglieder</span>
  <mat-icon class="search-icon1">person_add_alt_1</mat-icon>
  <div class="search">
    <mat-icon class="search-icon">search</mat-icon>Filter:
    <mat-form-field class="search-input">
    <input  matInput placeholder="nach Vor- und Nachnamen ..." #input>
  </mat-form-field>
  </div>

  <div class="toolbar-right">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menü -->
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/members', { outlets: {primary: null, sidebar: 'columns' }}]" routerLinkActive="active">Spalten ändern...</button>
  <button mat-menu-item routerLink="/memvdashboard" routerLinkActive="active">Gruppe zuweisen...</button>
</mat-menu>


<!-- Workspace -->
<as-split direction="horizontal" class="split-base">
  <as-split-area  [size]="75" class="table-base">
    <ng-container>
   <cl-member-table  [filter]="search" >
    </cl-member-table>
  </ng-container>
  </as-split-area >
  <as-split-area [size]="25" class="table-base">
    RECHTS <!-- <router-outlet name="sidebar"></router-outlet> -->
  </as-split-area>
</as-split>

