// Toolbar
.toolbar-sub {
  position: fixed;
  margin-top: -41px;
  min-height: 40px !important;
  height: 40px !important;
}

.toolbar-right {
  position: fixed;
  right: 0px;
}

// Progressbar
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.spinner-text {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 44%;
}

.search {
  margin-top: 11px;
  margin-left: 100px;
  font-size: 12pt;
}

.search-icon {
  margin-left: 50px;
  font-size: 12pt;
}

.search-icon1 {
  margin-left: 20px;
}

.search-input {
  margin-left: 5px;
  font-size:8pt;
}

.member-table {
  margin-top: 105px;
  height: 700px;         // fix table header
  max-width: 100%;
  overflow: auto;
}

.header-row {
  min-height: 35px;
  height: 35px;
}

.cell-width {
  width: 310px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  // color: var(--primary);
}
