#partner-content {
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 4px;
}

.partner-text {
  margin-left: 23px;
}

.child-label {
  margin-top: 8px;
}

.child-list {
  padding: 0px !important;
  margin-top: -17px;
}

.child-item {
  height: 18px !important;
  margin-left: 60px;
}
