
  <div id="partner-content">
    <div>
      <mat-label>Partner</mat-label>
      <mat-label class="partner-text">{{partner}}</mat-label>
    </div>
    <div>
      <div class="child-label">Kinder</div>
      <mat-list class="child-list">
        <mat-list-item class="child-item">{{child1}}</mat-list-item>
        <mat-list-item class="child-item">{{child2}}</mat-list-item>
        <mat-list-item class="child-item">{{child3}}</mat-list-item>
        <mat-list-item class="child-item">{{child4}}</mat-list-item>
      </mat-list>
    </div>
  </div>

